
html{background-color: #18191b;}

body
{
color: #e8e6e3;
margin-left: 30px;
background: transparent;
}


h3{color: darkorange;}

strong{color: lightblue;}

a
{
	color: lightgray;
	text-decoration: underline 0.15em rgba(0,0,0,0);
	transition: text-decoration-color 300ms;
}

a:hover{text-decoration-color: lightblue;}

.global-container
{
	display: grid;
	grid-template-columns: 250px 1fr;
}

.side-nav
{
	position: fixed;
	width: 260px;
	height: 100%;
	border-right: 2px solid #393e41;
	background-color: #18191b;
	margin-left: -22px;
}

.nav-logo
{
	justify-content: center;
	margin-bottom: 40px;
	cursor: pointer;
	padding: 30px 0px 0px 0px;
}

.nav-logo h2
{
	font-size: 35px;
	font-weight: 500;
}

.bloc-link
{
	display: flex;
	font-weight: 300;
	color: lightgray;
	text-decoration: none;
	padding: 20px 30px;
	background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, #393e41 50%) right;
	background-size: 200%;
	transition: .5s ease-out;
}


.bloc-link:hover{background-position: left;}

.bloc-link img{width: 20px;}

.nav-links{margin-left: 14px;}

.bloc-link.active .nav-links{color: darkorange;}

.main-content
{
	grid-column: 2;
	padding: 30px;
}

.input-control
{
	display: flex;
	align-items: center;
	max-width: 450px;
	background-color: #5c6367;
	border-radius: 6px;
	padding: 15px;
}

.input-control img
{
	width: 20px;
	position: relative;
	top: 2px;
}

.input-control input{
	width: 100%;
	font-size: 18px;
	padding-left: 10px;
	outline: 0;
	border: 0;
	background-color: #5c6367;
	color: darkorange;
}

.com
{
	padding: 30px;
	display: flex;
	justify-content: space-evenly;
}

#contact{display: none;}

#outils{display: none;}

#methodes{display: none;}

#outils input
{
	background-color: #2b2a33;
	border-color: #75747a;
	color: white;
	margin: 5px;
}

.manlink
{
	position: fixed;
	top: 0;
	right: 0;
	margin: 10px;
}

.cdn{border-radius: 10px;}

.annonce
{
	text-align: center;
	border: 2px solid darkorange;
	border-radius: 20px;
	width: 70%;
	margin: auto;
	background: #393e41;
}

button
{
	background-color: #2b2a33;
	color: white;
	border-radius: 5px;
	border: 1px solid grey;
	padding: 2px 5px;
}

.imgbtn
{
	width: 15px;
	height: 15px;
	transition: transform 400ms;
	vertical-align: middle;
}

.imgbtn:hover{transform: rotate(-180deg);}

.imgbtnparent
{
	transition: filter 400ms, border-color 400ms;
	vertical-align: middle;
}

.imgbtnparent:hover
{
	border-color: white;
	filter: saturate(250%);
}

.imgover:hover{opacity: 50%;}

.button-img
{
	border-radius: 10px;
	vertical-align: top;
}

.rouge{color: red;}

.orange{color: darkorange;}

.mini
{
	width: 20px;
	vertical-align: middle;
}

.tec{font-size: small;}

.tec .done
{
	color: #5a6267;
	text-decoration: line-through;
}

.cornerLogo
{
	position: fixed;
	z-index: -1;
	top: -100px;
	left: -100px;
	animation-name: corner;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes corner
{
	from {transform: rotate(0);}
	to {transform: rotate(360deg);}
}

.resizable
{
	width: 800px;
	resize: both;
	overflow: auto;
	scrollbar-width: none;
}

.resizablemini
{
	width: 600px;
	resize: both;
	overflow: auto;
	scrollbar-width: none;
}

tr:nth-child(even){background-color: #303841;}

td:nth-child(even){text-align: center;};